<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatis.dao.BlogDao">
    <resultMap id="blog" type="com.example.demo.mybatis.po.Blog">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="content" property="content"/>
    </resultMap>
    <select id="selectBlog" resultType="com.example.demo.mybatis.po.Blog">
        select * from Blog where id = #{id}
    </select>
    <select id="selectBlog2" resultMap="blog">
        select * from Blog where id = #{id}
    </select>
    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        insert into Blog(userName, content) values (#{userName}, #{content})
    </insert>
    <insert id="insertBlogs" useGeneratedKeys="true" keyProperty="id">
        insert into Blog(userName, content) values
        <foreach collection="list" item="item" separator=",">
            (#{item.userName}, #{item.content})
        </foreach>
    </insert>
</mapper>